In [51]:
import pandas as pd
import os
import numpy as np

In [2]:
#Veo en que directorio para las rutas relativas, por si cambio de ruta a posterior
path = os.getcwd()

#Me voy a la carpeta anterior
path = path.replace('notebooks','')

#Me posiciono donde se encuentran los datos
path += 'data\\processed\\'

In [4]:
#Cargo la información
df2019 = pd.read_csv(path+'d2019.csv', delimiter =',')

In [6]:
#Cargo la información

df2020 = pd.read_csv(path+'d2020.txt', delimiter =' ')

In [16]:
val_vars = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']

df_sii = pd.melt(df2019, id_vars = ['year','dia'], value_vars = val_vars,  var_name = 'mes',  value_name = 'valor')

df_sii_2020 = pd.melt(df2020, id_vars = ['year','dia'], value_vars = val_vars,  var_name = 'mes',  value_name = 'valor')

In [17]:
df_sii = df_sii.append(df_sii_2020, ignore_index = True)

In [34]:
print(df_sii.groupby(['mes'], as_index=True)['valor'].mean())

mes
1     724.854773
10    753.867907
11    769.540976
12    752.561750
2     726.342000
3     755.523488
4     760.389048
5     753.659500
6     744.299024
7     735.394318
8     749.182619
9     748.036154
Name: valor, dtype: float64

In [37]:
print(df_sii.groupby(['year', 'mes'], as_index=False)['valor'].agg(['mean']))

                mean
year mes
2019 1    677.061818
     10   721.032273
     11   776.530000
     12   770.390500
     2    656.304500
     3    667.678571
     4    667.399048
     5    692.003810
     6    692.409000
     7    686.059545
     8    713.703333
     9    718.442222
2020 1    772.647727
     10   788.267143
     11   762.884762
     12   734.733000
     2    796.379500
     3    839.375455
     4    853.379048
     5    821.805263
     6    793.718095
     7    784.729091
     8    784.661905
     9    773.402381

Compara ambos resultados. ¿Qué cambia al usar as_index = False? ¿Al agrupar por mes, con respecto a [year,mes]?

Al usar la opción as_index = False al agrupar por mes no deja el mes como indice, mientras que al usar agg deja year y mes como indices aunque cambie la opción as_index a False. Además cuando se agrupa por mes columna de resultado no tiene nombre.

In [49]:
df_enero_2019 = df_sii[(df_sii['mes'] == '1')&(df_sii['year'] == 2019)]

In [50]:
df_enero_2019

    year  dia mes   valor
0   2019    1   1     NaN
1   2019    2   1  694.77
2   2019    3   1  697.09
3   2019    4   1  697.64
4   2019    5   1     NaN
5   2019    6   1     NaN
6   2019    7   1  688.42
7   2019    8   1  679.69
8   2019    9   1  680.10
9   2019   10   1  678.09
10  2019   11   1  677.58
11  2019   12   1     NaN
12  2019   13   1     NaN
13  2019   14   1  675.15
14  2019   15   1  674.95
15  2019   16   1  673.76
16  2019   17   1  672.73
17  2019   18   1  671.37
18  2019   19   1     NaN
19  2019   20   1     NaN
20  2019   21   1  670.10
21  2019   22   1  672.42
22  2019   23   1  672.26
23  2019   24   1  672.41
24  2019   25   1  672.14
25  2019   26   1     NaN
26  2019   27   1     NaN
27  2019   28   1  667.04
28  2019   29   1  671.29
29  2019   30   1  669.60
30  2019   31   1  666.76

In [53]:

df_enero_2019['valor'].isnull()

0      True
1     False
2     False
3     False
4      True
5      True
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13    False
14    False
15    False
16    False
17    False
18     True
19     True
20    False
21    False
22    False
23    False
24    False
25     True
26     True
27    False
28    False
29    False
30    False
Name: valor, dtype: bool